In [170]:
import pandas as pd
df_test = pd.read_csv("test1.csv")
df_train = pd.read_csv("train1.csv")

In [171]:
sex=df_train['Sex']

In [172]:
embarked=df_train['Embarked']

In [219]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(sex)
sex1=le.transform(sex)

In [220]:
sex1=le.transform(sex)

In [175]:
embarked=df_train['Embarked']

In [176]:
embarked=embarked.tolist()

In [217]:
le1 = preprocessing.LabelEncoder()
le1.fit(embarked)

LabelEncoder()

In [218]:
embarked1=le1.transform(embarked)

In [179]:
del df_train['Sex']

In [180]:
df_train.insert(2,'Sex',sex1)

In [181]:
del df_train['Embarked']

In [182]:
 df_train.insert(11,'Embarked',embarked1)

In [183]:
del df_train['Name']

In [184]:
del df_train['Ticket']

In [186]:
del df_train['Cabin']

In [191]:
import csv
myfile = csv.writer(open('data.csv', 'w', newline=''))
file = csv.writer(open('data_noAge.csv', 'w', newline=''))
x,y = df_train.shape

In [193]:
import numpy as np
for i in range(0,int(x)):
    y=df_train.ix[i,:]['Age']
    if (np.isnan(y)):
        file.writerow(df_train.ix[i,:])

In [195]:
for i in range(0,int(x)):
    y=df_train.ix[i,:]['Age']
    if (np.isnan(y)!=True):
        myfile.writerow(df_train.ix[i,:])

In [199]:
dfA=pd.read_csv("data.csv")
dfB = pd.read_csv("data_noAge.csv")

In [201]:
Y = dfA['Survived']

In [202]:
del dfA['Survived']

In [203]:
X=dfA

In [204]:
from sklearn.linear_model import LogisticRegressionCV
clf =  LogisticRegressionCV(cv=5)

In [207]:
clf.fit(X,Y)

LogisticRegressionCV(Cs=10, class_weight=None, cv=5, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
           refit=True, scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

In [208]:
Y_noAge = dfB['Survived']

In [211]:
del dfB['Age']

In [212]:
del dfB['Survived']

In [213]:
X_noAge = dfB

In [214]:
clf_noAge =  LogisticRegressionCV(cv=5)

In [215]:
clf_noAge.fit(X_noAge,Y_noAge)

LogisticRegressionCV(Cs=10, class_weight=None, cv=5, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
           refit=True, scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

In [221]:
sex2 = le.transform(df_test['Sex'])

In [225]:
embarked2=le1.transform((df_test['Embarked']).tolist())

In [254]:
del df_test['Sex']

In [228]:
del df_test['Embarked']

In [231]:
df_test.insert(9,'Embarked',embarked2)

In [255]:
df_test.insert(1,'Sex',sex2)

In [235]:
del df_test['Name']
del df_test['Ticket']
del df_test['Cabin']

In [266]:
df_test

     PassengerId  Sex  Pclass   Age  SibSp  Parch      Fare  Embarked
0            892    1       3  34.5      0      0    7.8292         1
1            893    0       3  47.0      1      0    7.0000         2
2            894    1       2  62.0      0      0    9.6875         1
3            895    1       3  27.0      0      0    8.6625         2
4            896    0       3  22.0      1      1   12.2875         2
5            897    1       3  14.0      0      0    9.2250         2
6            898    0       3  30.0      0      0    7.6292         1
7            899    1       2  26.0      1      1   29.0000         2
8            900    0       3  18.0      0      0    7.2292         0
9            901    1       3  21.0      2      0   24.1500         2
10           902    1       3   NaN      0      0    7.8958         2
11           903    1       1  46.0      0      0   26.0000         2
12           904    0       1  23.0      1      0   82.2667         2
13           905    1       2  63.0      1      0   26.0000         2
14           906    0       1  47.0      1      0   61.1750         2
15           907    0       2  24.0      1      0   27.7208         0
16           908    1       2  35.0      0      0   12.3500         1
17           909    1       3  21.0      0      0    7.2250         0
18           910    0       3  27.0      1      0    7.9250         2
19           911    0       3  45.0      0      0    7.2250         0
20           912    1       1  55.0      1      0   59.4000         0
21           913    1       3   9.0      0      1    3.1708         2
22           914    0       1   NaN      0      0   31.6833         2
23           915    1       1  21.0      0      1   61.3792         0
24           916    0       1  48.0      1      3  262.3750         0
25           917    1       3  50.0      1      0   14.5000         2
26           918    0       1  22.0      0      1   61.9792         0
27           919    1       3  22.5      0      0    7.2250         0
28           920    1       1  41.0      0      0   30.5000         2
29           921    1       3   NaN      2      0   21.6792         0
..           ...  ...     ...   ...    ...    ...       ...       ...
388         1280    1       3  21.0      0      0    7.7500         1
389         1281    1       3   6.0      3      1   21.0750         2
390         1282    1       1  23.0      0      0   93.5000         2
391         1283    0       1  51.0      0      1   39.4000         2
392         1284    1       3  13.0      0      2   20.2500         2
393         1285    1       2  47.0      0      0   10.5000         2
394         1286    1       3  29.0      3      1   22.0250         2
395         1287    0       1  18.0      1      0   60.0000         2
396         1288    1       3  24.0      0      0    7.2500         1
397         1289    0       1  48.0      1      1   79.2000         0
398         1290    1       3  22.0      0      0    7.7750         2
399         1291    1       3  31.0      0      0    7.7333         1
400         1292    0       1  30.0      0      0  164.8667         2
401         1293    1       2  38.0      1      0   21.0000         2
402         1294    0       1  22.0      0      1   59.4000         0
403         1295    1       1  17.0      0      0   47.1000         2
404         1296    1       1  43.0      1      0   27.7208         0
405         1297    1       2  20.0      0      0   13.8625         0
406         1298    1       2  23.0      1      0   10.5000         2
407         1299    1       1  50.0      1      1  211.5000         0
408         1300    0       3   NaN      0      0    7.7208         1
409         1301    0       3   3.0      1      1   13.7750         2
410         1302    0       3   NaN      0      0    7.7500         1
411         1303    0       1  37.0      1      0   90.0000         1
412         1304    0       3  28.0      0      0    7.7750         2
413         1305    1       3   NaN      0      0    8.0500         2
414         1306    0       1  39.0      0      0  108.9000         0
415         1307    1       3  38.5      0      0    7.2500         2
416         1308    1       3   NaN      0      0    8.0500         2
417         1309    1       3   NaN      1      1   22.3583         0

[418 rows x 8 columns]

In [267]:
x,y = df_test.shape
myfile = csv.writer(open('testNoAge.csv', 'w', newline=''))
for i in range(0,int(x)):
    y=df_test.ix[i,:]['Age']
    if (np.isnan(y)):
        myfile.writerow(df_test.ix[i,:])

In [260]:
file = csv.writer(open('testAge.csv', 'w', newline=''))
for i in range(0,int(x)):
    y=df_test.ix[i,:]['Age']
    if (np.isnan(y)!=True):
        file.writerow(df_test.ix[i,:])

In [278]:
df_testAge = pd.read_csv("testAge.csv")
df_testNoAge = pd.read_csv("testNoAge.csv")

In [273]:
type(df_testAge)

pandas.core.frame.DataFrame

In [280]:
age=clf.predict(df_testAge)
m,n=df_testAge.shape

In [281]:
df_testAge.insert(n,'Survived',age)

In [286]:
# del df_testNoAge['Age']
noage=clf_noAge.predict(df_testNoAge)

In [288]:
df_testNoAge.insert(n-1,'Survived',noage)

In [314]:
df_testAge.ix[:,['PassengerId','Survived']].convert_objects(convert_numeric=True).to_csv("ans.csv",index=False,mode= "a+")

//anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [315]:
df_testNoAge.ix[:,['PassengerId','Survived']].convert_objects(convert_numeric=True).to_csv("ans.csv",index=False,mode= "a+")

//anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [313]:
# df_testAge.ix[:,['PassengerId','Survived']].convert_objects(convert_numeric=True)

//anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

     PassengerId  Survived
0            892       0.0
1            893       0.0
2            894       0.0
3            895       0.0
4            896       1.0
5            897       0.0
6            898       1.0
7            899       0.0
8            900       1.0
9            901       0.0
10           903       0.0
11           904       1.0
12           905       0.0
13           906       1.0
14           907       1.0
15           908       0.0
16           909       0.0
17           910       1.0
18           911       1.0
19           912       0.0
20           913       0.0
21           915       1.0
22           916       1.0
23           917       0.0
24           918       1.0
25           919       0.0
26           920       0.0
27           922       0.0
28           923       0.0
29           924       0.0
..           ...       ...
301         1273       0.0
302         1275       0.0
303         1277       0.0
304         1278       0.0
305         1279       0.0
306         1280       0.0
307         1281       0.0
308         1282       1.0
309         1283       1.0
310         1284       0.0
311         1285       0.0
312         1286       0.0
313         1287       1.0
314         1288       0.0
315         1289       1.0
316         1290       0.0
317         1291       0.0
318         1292       1.0
319         1293       0.0
320         1294       1.0
321         1295       1.0
322         1296       0.0
323         1297       0.0
324         1298       0.0
325         1299       0.0
326         1301       0.0
327         1303       1.0
328         1304       0.0
329         1306       1.0
330         1307       0.0

[331 rows x 2 columns]

In [ ]:
df_testAge.ix[:,['PassengerId','Survived']].to_csv("ans.csv",index=False,mode= "a+")